Dev/TeamGold Engine/.settings/
Dev/TeamGold Engine/bin/
Dev/TeamGold Engine/doc/
Dev/TeamGold Engine/tests/

Dev/TeamGold Game/.settings/
Dev/TeamGold Game/bin/
Dev/TeamGold Game/doc/
Dev/TeamGold Game/tests/
Dev/TeamGold Game/test.savegame

Dev/.recommenders

Dev/.metadata